@font-face {
    font-family: 'Noto Sans TC';
    src: url('../../fonts/NotoSansTC-Regular.ttf') format('truetype');
  }

.forgotPasswordContainer {
    display: flex;
    padding: 80px 148px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--background-color-white, #FEFEFE);
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 400;
    .titleContainer {
        display: flex;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .title {
            color: var(--text-color-primary, #1A1A1A);
            text-align: center;
            font-size: 32px;
            line-height: 48px;
        }
        .content {
            color: var(--gray-500, #6D7280);
            text-align: center;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .forgotPasswordForm {
        display: flex;
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        .forgotPasswordFormContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .phoneNumber {
                display: flex;
                height: 56px;
                padding: 8px 0px;
                align-items: center;
                align-self: stretch;
                border-radius: var(--Radius---Text-Field, 4px);
                border: 1px solid var(--text-field-color-stroke-default, #999);
                background: var(--text-field-color-filled-default, #FEFEFE);
                .selectCountry {
                    display: flex;
                    padding: 10px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    align-self: stretch;
                    border-radius: var(--Radius---Button, 4px);
                }
                .phoneNumberInput {
                    display: flex;
                    width: 129px;
                    padding: 0px 16px;
                    align-items: center;
                    gap: 4px;
                    color: var(--text-color-tertiary, #CCC);
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.021px;
                }
                .sentCodeBtn {
                    display: flex;
                    padding: 11px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: var(--Radius---Button, 4px);
                    color: var(--text-color-tertiary, #CCC);
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.012px;
                }
            }
        }
    }
}