@font-face {
    font-family: 'Noto Sans TC';
    src: url('../../fonts/NotoSansTC-Regular.ttf') format('truetype');
  }

.loginContainer {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 480px;
  height: 636px;
  position: absolute;
  left: 480px;
  top: 194px;
  border-radius: var(--Radius---Modal, 20px);
  background: #FFF;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.12), 8px 9px 12px 0px rgba(0, 0, 0, 0.10), 19px 20px 16px 0px rgba(0, 0, 0, 0.06);
  font-family: Noto Sans TC;
  font-weight: 400;
  font-style: normal;
  .close {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    right: 24px;
    top: 24px;
    .closeIcon{
      width: 24px;
      height: 24px;
    }
  }
  .titleContainer {
    .title {
      align-self: stretch;
      color: var(--text-color-primary, #1A1A1A);
      text-align: center;
      font-size: 32px;
      line-height: 48px;
    }
  }
  .loginform {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    .accountContainer {
      .name {
        display: flex;
        width: 320px;
        height: 56px;
        padding: 16px;
        align-items: center;
        gap: 8px;
        border-radius: var(--Radius---Text-Field, 4px);
        border: 1px solid var(--text-field-color-stroke-default, #999);
        background: var(--text-field-color-filled-default, #FEFEFE);
        color: var(--text-color-tertiary, #CCC);
        font-size: 14px;        
        line-height: 22px;
        letter-spacing: 0.021px;
      }
      .focused {
        border-radius: var(--Radius---Text-Field, 4px);
        border: 1.5px solid var(--text-field-color-stroke-focused, #4D4D4D);
        background: var(--text-field-color-filled-focused, #F5F5F5);
      }
      .checkbox {
        .checkboxLabel {
          display: flex;
          padding: 8px 16px;
          align-items: center;
          justify-content: flex-end;
          gap: 8px;
          .inputCheckboxContainer {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            position: relative;
            .inputCheckbox {
              width: 20px;
              height: 20px;
              cursor: pointer;
              &::before {
                content: "";
                border-radius: var(--Radius---Check-Box, 2px);
                border: 1px solid var(--check-box-color-stroke-default, #999);
                background: var(--check-box-color-filled-default, #F5F5F5);
                display: inline-block;
                width: 20px;
                height: 20px;
              }
              &:checked {
                display: none;
                width: 20px;
                height: 20px;
              }
            }
            .checkboxIcon {
              background-size: cover;
              background-repeat: no-repeat;
              display: none;
            }
            .inputCheckbox:checked + .checkboxIcon {
              width: 20px;
              height: 20px;
              background-image: url('/assets/icon/CheckboxRed.png');
              display: block;
              cursor: pointer;
            }
            .rememberAccount {
              color: var(--text-color-primary, #1A1A1A);
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.012px;
            }
          }
        }
      }
    }
    .passwordContainer {
      .password {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 56px;
        padding: 16px;
        align-items: center;
        gap: 8px;
        border-radius: var(--Radius---Text-Field, 4px);
        border: 1px solid var(--text-field-color-stroke-default, #999);
        background: var(--text-field-color-filled-default, #FEFEFE);
        color: var(--text-color-tertiary, #CCC);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.021px;
      }
      .forgotPasswordContainer {
        display: flex;
        justify-content: flex-end;
        .forgotPassword {
          display: flex;
          padding: 11px 16px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          color: var(--text-color-primary, #1A1A1A);
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.012px;
        }
      }
    }
  }
  .next {
    .nextBtn {
      display: flex;
      width: 320px;
      padding: 13px 20px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: var(--Radius---Button, 4px);
      background: var(--button-color-brand-filled-disable, #BD362F);
      color: var(--text-color-white, #F5F5F5);
      text-align: justify;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.021px;
    }
    .disabled {
      background: var(--button-color-brand-filled-disable, #CCC);
      cursor: default;
  }
  }
  .linkAccount {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    .hasNoAccount {
      display: flex;
      padding: 11px 16px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      .noAccount {
        color: var(--text-color-primary, #1A1A1A);
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.012px;
        .noAccountLink {
          text-decoration-line: underline;
        }
      }
    }
    .borderLine {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      position: relative;
      
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        border-top: 1px solid #CCC;
        width: 320px;
      }
      &::before {
          left: 0;
      }
      &::after {
          right: 0;
      }
      .or {
        color: var(--text-color-tertiary, #CCC);
        text-align: center;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.025px;
        z-index: 1;
        padding: 0 16px;
        background: #FFF;
      }
    }
    .linkAccount {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      gap: 32px;
      .linkIcon {
          display: flex;
          width: 48px;
          height: 48px;
          padding: 2px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
      }
  }
  }
}